<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Angular Topics</a>
     
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/lifeCycle">Angular LifeCycle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about',{
            outlets :{
              'location':['location'],
              'feed' : ['feed']
            }
          }]">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tdf">TDF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reactive">Reactive Form</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>