<span>ngOnchanges</span> &nbsp;
<span>ngOnInit</span> &nbsp;
<span>ngDoCheck</span> &nbsp;
<span>ngAfterContentInit</span> &nbsp;
<span>ngAfterContentChecked</span> &nbsp;
<span>ngAfterViewInit</span> &nbsp;
<span>ngAfterContentChecked</span> &nbsp;
<span>ngOnDestory</span> &nbsp;

<br />
<br />
<br />
<br />
<div class="center">
    <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Enter Value" [(ngModel)]="inputValue">
    </div>
    
</div>
<div class="center mt-5">
    <app-child-comp #appComp [inputValue]="inputValue" [userList]="userList" (someEvent)="comingFromChild($event)">
        <h1 #child>This content coming from Parent</h1>
    </app-child-comp>
</div>

<button (click)="check()" appHighlight>Check</button>


<div class="col-md-6 center" appHover>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, doloribus!
</div>